{% load static %}
<html>
    <head>
        <html lang="uk">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
		<title>Реєстрація</title>
	    <link rel="stylesheet" type="text/css" href="{% static 'kursova.css' %}"/> 
	</head>
    <body>
        <div id="container">
            
            <div id="header">
                <p class="title">Kursova</p>
                <ul class="nav">
                    <li><a href="{% url 'особистий_кабінет' %}" class="nav_url">Особистий кабінет</a></li>
                    <li><a href="{% url 'index' %}" class="nav_url">Головна</a></li>
                    <li><a href="{% url 'про_нас' %}" class="nav_url">Про нас</a></li>
                </ul>
            </div>

            <div id="content_r">
            {% block body %}
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Зареєструватися</button>
            {% endblock %}
            </div>

            <div id="footer">
                <p class="title1">
                Сайт розробив: <br>
                Студен групи ПР-3-1 <br>
                Солярчук Іван <br>
                </p>
            </div>

            </div>
    </body>
</html>