{%load static%}
<html>
    <head>
        <html lang="uk">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
		<title>Особистий кабінет</title>
	    <link rel="stylesheet" type="text/css" href="{% static 'kursova.css' %}"/> 
	</head>
    <body>
        <div id="container">

            <div id="header">
                <ul class="nav">
                    <li><a href="{% url 'особистий_кабінет' %}">Особистий кабінет</a></li>
                    <li><a href="{% url 'index' %}">Головна</a></li>
                    <li><a href="{% url 'про_нас' %}">Про нас</a></li>
                </ul>
            </div>

            <div id="content">
                <ul>
                    <li>Нікнейм: {{request.user.username}}</li>
                    <li>E-mail: {{request.user.email}}</li>
                </ul>
                <a href="{% url 'вихід' %}">Вийти</a>
            </div>

            <div id="footer">
                Сайт розробив: <br>
                Студен групи ПР-3-1 <br>
                Солярчук Іван <br>
             </div>

        </div>
    </body>
</html>